@import "/vendor/filament/filament/resources/css/theme.css";
@config 'tailwind.config.js';

@layer base {
    :root.dark .fi-breadcrumbs-list {
        background-color: #000000d0;
    }
    :root.dark .fi-sidebar-nav {
        background-color: #420570 !important;
    }
    :root.dark .fi-sidebar-header {
        background-color: #591f86;
    }
    :root.dark .fi-sidebar-item-label {
        color: rgb(255, 255, 255);
    }
}

.fi-breadcrumbs-list {
    background-color: white;
}
.fi-sidebar {
    width: 150px;
    max-width: 300px;
    min-width: 150px;
}

.fi-sidebar-nav {
    background-color: #4f0786 !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 30px;
    margin: 0;
}

.fi-sidebar-header {
    background-color: #410271;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fi-logo {
    font-size: 50px;
}

.fi-sidebar-item-icon {

    display: flex;
    font-size: 1rem;
    height: 50px;
    width: 60px;
    color: #fff;
    justify-self: center;
}

.fi-sidebar-item-label {
    font-size: 16px;
    color: #fff;


}

.fi-sidebar-item-button {
    display: block;
    text-align: center;

}

.fi-topbar .fi-user-menu {
    display: none !important;
}

.fi-sidebar-item-active {

    .fi-sidebar-item-icon {
        color: #ffd034;

    }
    .fi-sidebar-item-label {
        color: #ffd034;
    }
}


.fi-sidebar-group.fi-active ul li > a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.fi-sidebar-group.fi-active ul li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
}

.fi-sidebar-group.fi-active ul li > a:hover .fi-sidebar-item-icon,
.fi-sidebar-group.fi-active ul li > a:hover .fi-sidebar-item-label {
    color: #ffd034;
}

body > div:nth-child(1) > aside > nav > ul > li > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
}

body > div:nth-child(1) > aside > nav > ul > li > ul > li > a:hover .fi-sidebar-item-icon,
body > div:nth-child(1) > aside > nav > ul > li > ul > li > a:hover .fi-sidebar-item-label {
    color: #ffd034;
}

body > div.fi-layout.flex.min-h-screen.w-full.flex-row-reverse.overflow-x-clip > aside > nav > ul > li.fi-sidebar-group.flex.flex-col.gap-y-1.fi-active > ul > li:nth-child(3) > a {
    position: relative;
}

body > div.fi-layout.flex.min-h-screen.w-full.flex-row-reverse.overflow-x-clip > aside > nav > ul > li.fi-sidebar-group.flex.flex-col.gap-y-1.fi-active > ul > li:nth-child(3) > a > span {
    position: absolute;
    left: -7px;
    top: 65px;
}
body > div:nth-child(1) > aside > nav > ul > li:nth-child(1) > ul > li:nth-child(4) {
    margin-top: 25px;
}
