@import "/vendor/filament/filament/resources/css/theme.css";
@config 'tailwind.config.js';

@layer base {
    :root.dark .fi-breadcrumbs-list {
        background-color: #000000d0;
    }
    :root.dark .fi-sidebar-nav {
        background-color: #420570 !important;
    }
    :root.dark .fi-sidebar-header {
        background-color: #591f86;
    }
    :root.dark .fi-sidebar-item-label {
        color: rgb(255, 255, 255);
    }
}

.fi-breadcrumbs-list {
    background-color: white;
}
.fi-sidebar {
    width: 200px;
    max-width: 300px;
    min-width: 200px;
}

.fi-sidebar-nav {
    background-color: #4f0786 !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 30px;
    margin: 0;
}

.fi-sidebar-header {
    background-color: #410271;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fi-logo {
    font-size: 50px;
}

.fi-sidebar-item-icon {
    display: flex;
    font-size: 1rem;
    height: 60px;
    width: 80px;
    color: #fff;
    justify-self: center;
}

.fi-sidebar-item-label {
    font-size: 18px;
    color: #fff;
}

.fi-sidebar-item-button {
    display: block;
    text-align: center;
}

.fi-topbar .fi-user-menu {
    display: none !important;
}

.fi-sidebar-item-active {
    .fi-sidebar-item-icon {
        color: #ffd034;
    }
    .fi-sidebar-item-label {
        color: #ffd034;
    }
}
